{% extends "blog/base.html" %}
{% block content %}
<h3 class="border-bottom">Who I am ? </h3>
<p>
    First of all my name is Mahmoud Shehata, I am 25 years old, I graduated from the Faculty of Computers and information 2018. Since I was young I have had a passion for computers and have been wondering how it works. Then I became more impressed with the fact that the world is connected to each other through the Internet. Then I wanted to be one of those people who make our lives easier.
    I have respect experience that gain from B.C of Computers and information assuit university and The training period at information technology institute.
    currently this experiences that i have and I'm working to develop them continuously .
    python , Django , DRF , typescript , Angular , postegres sql 
    programming languages and paradigm: Python , c# , bash script , html5 , css3, bootstrap , JavaScript , oop , mvt design pattern.

</p>
{% endblock content %}
